/* src/App.css */

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.add-button {
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.add-button.active {
  background-color: #3e8e41;
}

.add-button:hover {
  background-color: #45a049;
}

.add-button:focus {
  outline: none;
}


.chart-container {
  max-width: 800px; 
  margin: 0 auto;
}

.mosaic-tile {
  background-color: #f9f9f9;
}

.mosaic-window-toolbar {
  background-color: #4CAF50;
  color: white;
}

.App-header {
  text-align: center;
  padding: 10px;
}

